<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details 100</title>
    <style>
        body{
            background:balck;
            color:green;
        }
        h1{
            border:10px solid yellow;
        }
    </style>
</head>
<body>
<h1> This Page Belongs From User Details page </h1>
<p> Please read details <br>about the page conatins</p>
<a href="https://www.treenetra.in/">TREENETRA Links</a>
<h2> The Server date and time is : {{date}}</h2>
<ul>
    <li>Name:{{name}}</li>
    <li>Age:{{age}}</li>
    <li>Salary:{{salary}}</li>
</ul>



</body>
</html>